/* ----global reset----*/

 @import "normalize.css";

/* --- layout --- */

body {
max-width:940px;
margin:24px auto;
font-size: 110%;
font-family: "Helvetica", sans-serif;
}


#top_bar {
	width:100%;
	margin-top: 0px;
}

#logo_mobile {
	display:none;
}
#container_mobile {
	display:none;
}
#nav_mobile {
	display:none;
}

#lower_nav_mobile {
	display:none;
}


#logo {
	max-width:100%
}

#container {
	position: relative;
	width: 100%;
	height: 301px;
}

#content {
  color:white;
  background-color:#b18d5d;
  position: absolute;
  width: 41%;
  height: 275px;
  top: 5px;
  left: 0;
  border: 1px solid green ;
  padding: 10px;
}

#container p{
	text-align:center;
}

#container img {
	float: right;
	width: 55%;
	margin: 5px;
}

#main_pic img {
	Max-width: 100%;
}

#contact {
	background-color:#336667;
	position: absolute;
	height: 115px;
	top: 185px;
	left: 44.48%;
	border: 1px solid #ccc;
}
#contact p{
	color:white;
	margin-left:42%;
	margin-top:25px;
	padding-left:20px;
	padding-right:20px;
}

#button {
	position: absolute;
	top: 30px;
	left: -3%;
	font-size: 100%;
	margin-top: -10px;
	margin-left: 6%;
}
.button {
	border-top: 1px solid black;
	background: black;
	background: -webkit-gradient(linear, left top, left bottom, from(black), to(white));
	background: -moz-linear-gradient(top,black, white);
	padding: 20px 23px;
	-webkit-border-radius: 39px;
	-moz-border-radius: 39px;
	border-radius: 39px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,1) 0 1px 0;
	color: #ffffff;
	font-family: arial, sans serif;
	text-decoration: none;
	vertical-align: middle;
}
.button:hover {
	border-top-color:white;
	background:white;
	color:black;
	text-decoration: none;
}
.button:active {
	border-top-color: #26d117;
	background:#26d117;
} 

#examples {
	position: relative;
	width: 43%;
	height: 109px;
	background-color:#336667;
	margin-top: 10px;
}

#marble_art {
	position: absolute;
	height: 109px;
	top: 463px;
	left: 45.2%;
	background: rgba(155,0,0,0.3);

}

#marble_art img {
	width:100%;
	height:100%;
	Max-width: 100%;
}

h2 { 
   font-size: 80%;
   color:white;
   position: absolute; 
   top: 5px; 
   left: 7%; 
}

#button1 {
	position: absolute;
	top: 80px;
	left: 3%;
	font-size: 100%;
	/*-moz-float: left;*/
	margin-top: -10px;
	margin-left: 6%;
}


.button1 {
	border-top: 1px solid black;
	background: black;
	background: -webkit-gradient(linear, left top, left bottom, from(black), to(#b18d5d));
	background: -moz-linear-gradient(top,black, white);
	padding: 5px 43px;
	-webkit-border-radius: 39px;
	-moz-border-radius: 39px;
	border-radius: 39px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,1) 0 1px 0;
	color: #ffffff;
	font-family: arial, sans serif;
	text-decoration: none;
	vertical-align: middle;
}
.button1:hover {
	border-top-color:white;
	background:white;
	color:black;
	text-decoration: none;
}
.button1ß:active {
	border-top-color: #26d117;
	background:#26d117;
} 


#nav{
	background-color:black;
  border:1px solid black;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;

}
#nav li{
  display:inline-block;
}
#nav li a:hover {
	color: black;
	background: #336667;
}


#nav a{
	color: white;
	background-color: black;
  	display:inline-block;
  	padding:10px;
  	text-decoration: none;
}

div ul li {
	float: left;
	margin-left: 3.275%;
}

#examples h3{
	text-align:center;
	color:white;
}

#example_thumbnails {
	list-style-type: none;
	overflow: hidden;
}

#example_thumbnails img{
	Max-width: 100%;
}

footer {
	background-color:red;
	position: relative;
	top:50px;
	left:60px;
}

footer p {
	font-size:70%;
	float:left;	
}

footer ul li{
	font-size:70%;
	list-style-type: none;
	margin-left: 20px;
	float:left; 
	width:60px;
}


/*----about ----*/
#about p {
	padding:20px;
	background: rgba(155,0,0,0.3);
	}

#about {
	width:100%;
	float:right;
	margin-top: 0px;

}

#about img {
	width:60%;
	float:right;
	Max-width: 100%;
}

/* ---inventory-----*/

#inventory p {
	background:#669acc;
	padding:10px;
}

#inventory {
	text-align:center;
	width:100%;
	color: white;
}

#inventory footer {
	position:relative;
	top: 300px;
	left: -15%;
	color:black;
	
}

#inventory ul li {
	padding-top:20px;
	position:relative;
	left:22%;
	color: white;
	border:solid black;
	overflow: hidden;

}

#videos p {
	background:#669acc;
	padding:30px;
}

#videos {
	text-align:center;
	width:100%;
	color: white;
}

#videos footer {
	position:relative;
	top: 300px;
	left: -15%;
	color:black;
	
}

#videos ul li {
	padding-top:20px;
	position:relative;
	left:22%;
	color: white;
	border:solid black;
	overflow: hidden;

}

/* form elements */

h6 {
	padding:20px;
	font-size:140%;
}

#contact_info {
	float:right;
	position:relative;
	top:30px;
	left:-200px;
	background: rgba(155,0,55,0.3);
}

#contact_info h4{
	padding:30px;
}

input, textarea { 
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	background: #FFFFFF left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	}

textarea { 
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
	}

input:hover, textarea:hover,
input:focus, textarea:focus { 
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	}

.form label { 
	margin-left: 10px; 
	color: #999999; 
	}

.submit input {
	width: auto;
	padding: 9px 15px;
	background: #617798;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}

/* --------------------*/

ul li {
	list-style-type: none;
}

/* -Media Queries - =====================================*/

/* tablet portrait size to standad 960 (device & browswers) */
	@media screen and (min-width:768px) and (max-width:959px) {
		#example_thumbnails img{width:70%;height:70%;}
		footer {font-size:75%}
		footer ul li {width:50px;}
		#about img {width:60%;height:60%;}
		#contact_info {font-size: 80%;clear:right; position: relative; left,-500px;top:10px;}
		#contact_info h6 {padding:15px;}
		#contact_info h4 {padding:25px;}
		#inventory ul li {padding-top:15px;}
		#inventory p {font-size:90%;}
		#videos ul li {padding-top:15px;}
		#videos p {font-size:90%;}

}
/* mobile landscape size to tablet portrait (device&browsers)*/
	@media only screen and (min-width:480px) and (max-width:767px){
		#content {font-size: 85%;}
		#examples{display:none;}
		#contact p{font-size:80%}
		#marble_art{left: 2%;}
		footer{top: 150px;}
		.button {padding: 20px 5px;}
		footer p {display:none;}
		#contact_info {font-size: 80%;clear:right; position: relative; left,100px;top:10px; left:30px}
		#contact_info h6 {padding:10px;}
		#contact_info h4 {padding:20px;}
		.submit input {position:relative; top:10px; left:30px;}
		#about img {width:60%;height:60%}
		#inventory p {font-size:70%;padding:10px;}
		#inventory ul li {left:30px;}
		#videos p {font-size:70%;padding:10px;}
		#videos ul li {left:30px;}
}
/*  mobile portrait size to mobile landscape size (device & browsers)*/
	@media only screen and (max-width:479px) {
		#logo {display:none;}
		#container {display:none;}
		#examples {display:none;}
		#marble_art {display:none;}
		footer {display:none;}
		#nav {display:none;}
		#logo_mobile {display:block;}
		#nav_mobile {display:inline;color:white;
			background-color: black;
  			display:inline-block;
  			padding:10px;
  			text-decoration: none;}
		#nav_mobile li{display:inline;}
		#nav_mobile a {padding:35.8px;text-decoration: none;color:white;}
		#lower_nav_mobile li{display:inline;}
		#lower_nav_mobile a {padding:44.4px;text-decoration: none;color:white;}
		#lower_nav_mobile {display:inline;color:white;
			background-color: black;
  			display:inline-block;
  			padding:10px;
  			text-decoration: none;}
		#container_mobile {display:block; background-color:#999944; height: 287px;font-size:100%;width:320px;text-align:center;}
		#main_pic img{display:block;}
		#contact_info {font-size: 70%;clear:right; position: relative;left:-120px;top:0px;}
		#contact_info h6 {padding:5px;}
		#contact_info h4 {padding:8px;}
		#about img {width:60%;height:60%}
		#inventory p {font-size:65%;padding:5px;}
		#inventory ul li {left:5px;}
		#videos p {font-size:65%;padding:5px;}
		#videos ul li {left:5px;}
		textarea { 
			max-width: 200px;
			height: 100px;
			line-height: 100%;
	}

		
		
		
		